<!DOCTYPE html>
<html>
<head>
  <title>Flatiron Widgets Store</title>
</head>
<body>
    <h1>Your Invoice</h1>
    <h2>Welcome to Flatiron Open Orders</h2>
    <ol><%= yield %></ol>    
</body>
</html>